/*
  color: #FF5A5F; "rouge"
  color: #484848;
*/
body
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #484848;

}
.navbar-right a
{
  color: #484848;
}
.container-position
{
  margin: 0 100px;
}
.sous-title h1
{
  font-size: 330%;
  font-weight: lighter;
  width: 650px;
  line-height: 125%;
  margin: 60px 0;
}
.sous-title span
{
  color: #FF5A5F;
  font-weight: bold;
}
.search-bar
{
  margin: auto;
  width: 99%;
  border: 1px solid rgba(214, 213, 213, 0.64);
  border-radius: 5px;
}
.section-bar
{
  border-right: 1px solid rgba(214, 213, 213, 0.64);
  border-left: 1px solid rgba(214, 213, 213, 0.64);
}
.form-control
{
  width: 60%;
  border: none;
}
.btn-custom
{
  background-color: #FF5A5F;
  color: #fff;
  margin: 10px 0;
}
.btn-custom:hover
{
  color: #fff;
}
.category
{
  float: left;
  margin-top: 50px;
}
.category a
{
  margin-right: 30px;
  color: #484848;
  font-size: 85%;
  font-weight: bold;
}
.category a:hover
{
  text-decoration: none;
}
.category :first-child
{
  color: #389FA3;
  border-bottom: 2px solid #389FA3;
  padding-bottom: 10px;
}
.container-box
{
  margin: 20px 0;
}
.experiences h4
{
  font-weight: bold;
  margin-bottom: 20px;
}
.experiences :last-child
{
  right: 0;
}
.experiences a
{
  color: #484848;
}
.experiences a:hover
{
  text-decoration:none;
}
.exp-img
{
  display: flex;
  justify-content: space-between;
}
.exp-img img
{
  width:220px;
  margin-bottom: 10px;
}
.box-exp-img
{
  width: 199px;
}
.box-exp-img a
{
  color: #484848;
}
.box-exp-img a:hover
{
  text-decoration: none;
}
.logements
{
  display: flex;
  justify-content: space-between;
}
.logements img
{
  width: 370px;
  margin-bottom: 10px;
}
.log-img a
{
  color: #484848;
}
.log-img a:hover
{
  text-decoration: none;
}
.log-img
{
  width: 350px;
}
.destination
{
  display: flex;
  justify-content: space-between;
}
.destination a
{
  color: #484848;
}
.destination a:hover
{
  text-decoration: none;
}
.destination img
{
  width: 180px;
  margin-bottom: 10px;
}
